.header-menu li a.user-name {
    padding: 10px;
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: rgb(0 0 0) 0px -1px 11px 0px;
}

.header-menu .site-name {
    margin-right: 200px;
}

.header-menu .menu-list {
    padding: 12px;
}

.header-2-static {
    display: none;
}

.overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    cursor: wait;
}

@media (max-width: 700px) {
    .menu-li {
        display: none;
    }
    .header-2-static {
        display: block;
    }
}