a:hover {
    color: #3498db;
}
.sidebar_header {
    background: #3498db;
}
.left_sidebar>ul>li.active>a, .left_sidebar>ul>li:hover>a {
    border-left: 5px solid #3498db;
}
.left_sidebar>ul>li>a {
    color: #3498db;
}
.left_sidebar>ul>li>ul {
    background: #0b8a73;
}
.breadcrumb a {
    color: #3498db;
}
.btn-primary {
    background: #3498db;
    border-color: #3498db;
}
.btn-primary:hover {
    background: #2980b9;
    border-color: #2980b9;
}

/* Login Page Start */
#loginForm, #loginForm .site_logo {
    border-color: #3498db;
}
/* Login Page End */

/* Header Part */
header {
    background: #3498db;
}
.header-menu li a {
    color: #fff;
}
.header-menu ul {

}
.header-menu>li:hover>a, .header-menu>li>ul {
    background: #2980b9;
}
.header-menu>li>ul>li:hover>a, .header-menu>li>ul>li>ul {
    background: #74b9ff;
}
.header-menu>li>ul>li>ul>li:hover>a {
    color: #74b9ff;
    background: #f9f9f9;
}
/* Header Part End */

.loading-body .loader-border:after {
    border-top-color: #3498db;
    border-bottom-color: #3498db;
}
.vertical-tabs li.active a {
    background: #3498db;
}
.hotel-box .hotel-content {
    border-top-color: #3498db;
}
.popup-heading {
    background-color: #3498db;
}
